/* CSS BY SARAH MOORE */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
  --midnight-blue: #1F2A44;
  --olive-green: #76885B;
  --champagne-gold: #E5C185;
  --linen: #F8F4EC;
  --dark-charcoal: #2B2B2B;
  --soft-white: #FAF9F6;

  --playfair: 'Playfair Display', serif;
}
/* GLOBAL STYLES (mobile first/small) */
@media only screen and (min-width: 300px) {
	body{
		max-width: 599px;
		background-color: var(--soft-white);
		color: var(--soft-white);
	}
	h1{
		color: var(--soft-white);
		font-weight: 700;
		font-size: 37px;
	}
	h2{
		color: var(--midnight-blue);
		font-weight: 400;
		font-size: 18px;
		letter-spacing: 0.22px;
	}
	h3{
		color: var(--soft-white);
		font-weight: 400;
		font-size: 17px;
		letter-spacing: -0.12px;
	}
	p{
		color: var(--dark-charcoal);
		font-weight: 400;
		font-size: 9px;
		letter-spacing: -0.12px;
		line-height: 13.75px;
	}
	figcaption{
		color: var(--dark-charcoal);
		font-weight: 400;
		font-size: 8px;
		letter-spacing: 0.13px;
		line-height: 13.9px;
		font-style: italic;
	}
	address{
		font-weight: 400;
		font-size: 9px;
		letter-spacing: 0.11px;
		line-height: 13.9px;
	}
	.address a{
		color: var(--champagne-gold);
		font-weight: 700;
		font-size : 9px;
	  line-height : 13.9px;
  	letter-spacing : 0.13px;
		text-decoration: none;
	}
	header{
		background-color: var(--midnight-blue);
		color: var(--soft-white);
		display: block;
		align-items: center;
		text-align: center;
		max-height: 281px;
	}
	header img {
		width: 116px;
		height: 174px;
	}
	header p{

	}
	nav{
		background-color: var(--champagne-gold);
	}
	main{
		background-color: var(--soft-white);
	}
	footer{
		background-color: var(--midnight-blue);
		color: var(--soft-white);
	}
}
@media only screen and (min-width: 600px) {
	body{
		max-width: 899px;
	}
}
@media only screen and (min-width: 900px) {
	body{
		max-width: 1199px;
	}
}
@media only screen and (min-width: 1200px) {
h1{
		font-size: 65px;
		letter-spacing: -0.58px;
		
	}
}