/* CSS BY SARAH MOORE */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
  --midnight-blue: #1F2A44;
  --olive-green: #76885B;
  --champagne-gold: #E5C185;
  --linen: #F8F4EC;
  --dark-charcoal: #2B2B2B;
  --soft-white: #FAF9F6;

  --font: 'Playfair Display', serif;
}
/* GLOBAL STYLES (mobile first/small) */
@media only screen and (min-width: 300px) {
	body{
		max-width: 599px;
		min-height: 2300px;
		font-family: var(--font);	
		background-color: var(--soft-white);
	}
	header {
		background : var(--midnight-blue);
		color: var(--soft-white);
		min-height: 280px;
	}
	hgroup {
		text-align: center;
		padding-bottom: 20px;
	}
	hgroup img {
		min-width: 116px;
		display: block;
		margin: 0 auto;
		padding-top: 20px;
	}
	hgroup p {
		font-style : italic;
  	font-size : 12px;
  	letter-spacing : -0.25px;
  	color : var(--soft-white);
	}
	nav {
		background-color: var(--champagne-gold);
		min-height: 30px;
	}
	nav ul {
		text-align: center;
		place-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 7px;
	}
	nav a {
		text-decoration: none;
		color: var(--midnight-blue);
		font-size: 14px;
		font-weight: 700;
	}	
	h1{
	font-weight : bold;
  font-size : 36px;
  letter-spacing : 0.5px;
	padding-bottom: 15px;
  color : var(--soft-white);
	}
	h2 {
	font-size: 18px;
	letter-spacing: 0.25px;
	color: var(--midnight-blue);
	line-height: 21.6px;
	}
	h3 {
	font-weight : bold;
  font-size : 16px;
  letter-spacing : -0.16px;
	color: var(--soft-white);
	line-height: 20px;
	}
	main {
		background-color: var(--soft-white);
		min-height: 1850px;
		margin: 0px 15px 15px;
		border-bottom: 2px solid var(--champagne-gold);
	}	
	p {
 	font-size : 9px;
  line-height : 14px;
  letter-spacing : 0.10px;
	color: var(--dark-charcoal);
	}
	#welcome {
		padding: 40px 0px 15px 0px;
		line-height: 21.5px;
	}
	#welcome p {
		padding-bottom: 15px;
		border-bottom: 2px;
		border-color: var(--champagne-gold);
		border-style : Solid;
	}
	#our-offerings p {
		color: var(--soft-white);
	}
	#our-offerings h2 {
		padding-bottom: 10px;
		padding-right: 15px;
	}
	.artisan-provisions, .exclusive-dining-experiences, .the-field-and-feast-monthly-basket {
		padding: 10px;
		background-color: var(--olive-green);
		border-radius: 4px;
		letter-spacing: 12px;
		margin-bottom: 15px;
		filter: drop-shadow(-1px 3px 2px #2B2B2B50);
	}
	.the-field-and-feast-monthly-basket ul li {
		font-size: 9px;
		line-height: 13.9px;
		letter-spacing: 0.11px;
		color: var(--soft-white);
		list-style: disc;
		list-style-position: inside;
		}
	#a-gallery-field-feast {
		margin-bottom: 15px;
		padding-top: 15px;
		border-top: 2px;
		border-color: var(--champagne-gold);
		border-style : Solid;
	}
	#a-gallery-field-feast p {
		padding-bottom: 10px;
	}
	#a-gallery-field-feast img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;		
		padding-bottom: 10px;
		border-radius: 5px;
	}
	.tomatoes, .olive-oil, .table-setting, .chef-plating, .basket {
		align-items: center;
		background-color: var(--soft-white);
		border-radius: 5px;
		filter: drop-shadow(1px 3px 2px #2B2B2B50);
		margin-bottom: 10px;
	}
	.tomatoes, .olive-oil, .table-setting, .chef-plating, .basket figcaption {
		font-size: 9px;
		font-style: italic;
		text-align: center;
		padding-bottom: 10px;		
	}
	.full-gallery {
		background-color: var(--olive-green);
		min-width: 270px;
		min-height: 25px;
		border-radius: 2px;		
	}
	.full-gallery p {
		padding-top: 8px;
		color: var(--soft-white);
		font-weight: 700;
		text-align: center;
	}
	footer {
		padding-top: 50px;
		background-color: var(--midnight-blue);
		color: var(--soft-white);
		font-size: 9px;
		line-height: 14px;
		text-align: center;
	}
	footer a {
		color: var(--champagne-gold);
		text-decoration: none;
		font-weight: 700;
	}
	.social-media {
		padding-top: 20px;
		padding-bottom: 15px;
	}
}
/* MEDIA QUERY MEDIUM */
@media screen and (min-width: 600px) {
}
  
/* MEDIA QUERY LARGE */
@media screen and (min-width :900px) {}

/* MEDIA QUERY X-LARGE */
@media screen and (min-width: 1200px) {}
