/* CSS BY SARAH MOORE */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
  --midnight-blue: #1F2A44;
  --olive-green: #76885B;
  --champagne-gold: #E5C185;
  --linen: #F8F4EC;
  --dark-charcoal: #2B2B2B;
  --soft-white: #FAF9F6;

  --playfair: 'Playfair Display', serif;
}

/* GLOBAL STYLES (mobile first/small) */
@media only screen and (min-width: 300px) {
	body{
		font-family: var(--playfair);
		max-width: 599px;
	}
	header{
		background-color: #1F2A44;
		color: #FAF9F6;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;
	}
	header img{
		padding-top: 15px;
		max-width: 118px;
	}
	h1{
		font-size: 37px;
		font-weight: 700;
		padding-top: 5px;
	}
	header p{
		font-size: 12px;
		font-weight: 400;
		font-style: italic;
		padding-top: 20px;
		padding-bottom: 15px;
	}
	nav{
		background-color: #E5C185;
		min-height: 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
	}
	nav a{
		color: #1F2A44;
		display: inline;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
		text-align: center;
		padding-top: 10px;
		text-decoration: none;
	}
	main{
		background-color: #FAF9F6;
		padding: 30px 15px 20px 15px;
	}
	h2{
		color: #1F2A44;
		font-size: 14px;
		font-weight: 400;
		padding-bottom: 10px
	}
	h3{
		color: #FAF9F6;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
	}
	
	#welcome p{
		font-size: 8px;
		font-weight: 400;
		line-height: 12px;
		padding-bottom: 10px;
	}
	#welcome::after{
		content: '';
		display: block;
		height: 2px;
		background-color: #E5C185;
	}
	#our-offerings{
		color: #FAF9F6;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#our-offerings p{
		font-size: 9px;
		font-weight: 400;
		line-height: 12px;
	}
	.artisan-provisions, .exclusive-dining-experiences, .the-field-and-feast-monthly-basket{
		background-color: #76885B;
		border-radius: 5px;
		margin-top: 5px;
		margin-bottom: 10px;
		padding: 10px 15px 10px 10px;
		box-shadow: 1px 3px 5px 0 #2B2B2B75;
	}
	li{
		list-style: disc;
		list-style-position: inside;
		font-size: 9px;
		font-weight: 400;
		line-height: 12px;
	}
	.the-field-and-feast-monthly-basket{
		margin-bottom: 15px;
	}
	#our-offerings::after{
		content: '';
		display: block;
		height: 2px;
		background-color: #E5C185;
	}
	#a-gallery-field-feast{
		padding-top: 5px;
	}
	#a-gallery-field-feast p{
		font-size: 9px;
		font-weight: 400;
		line-height: 12px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	#a-gallery-field-feast figure{
		display: grid;
		grid-template-columns: auto;
		background-color: #FAF9F6;
		border-radius: 5px;
		margin: 0 auto 20px;
		box-shadow: 1px 3px 5px 0 #2B2B2B75;
		margin-bottom: 10px;
		font-size: 9px;
		font-weight: 400;
		line-height: 12px;
		font-style: italic;
		text-align: center;
	}
	#a-gallery-field-feast figure img{
		min-width: 100%;
		height: auto;
		border-radius: 5px 5px 0px 0px;
	}
	#a-gallery-field-feast figcaption{
		padding-top: 10px;
		padding-bottom: 10px;
		color: #2B2B2B;
	}
	.full-gallery{
		background-color: #76885B;	
		color: #FAF9F6;
		border-radius: 5px;
		margin-bottom: 12px;
	}
	.full-gallery h3{
		font-size: 10px;
		font-weight: 600;
		line-height: 20px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#a-gallery-field-feast::after{
		content: '';
		display: block;
		height: 2px;
		background-color: #E5C185;
	}
	footer{
		background-color: #1F2A44;
		padding-top: 60px;
		text-align: center;
		padding-bottom: 15px;
	}	
	#contact-info{
		color: #FAF9F6;
		font-size: 9px;
		font-weight: 400;
		line-height: 12px;
	}
	.address{
		padding-bottom: 30px;
	}
	.address a{
		color: #E5C185;
		font-size: 9px;
		font-weight: 700;
		line-height: 20px;
		text-decoration: none;
	}
	.social-media a{
		color: #E5C185;
		font-size: 9px;
		font-weight: 700;
		line-height: 20px;
		text-decoration: none;
	}
}

/* MEDIA QUERY (medium) */
@media only screen and (min-width: 600px) {
	body{
		max-width: 899px;
	}
	header img{
		padding-top: 20px;
		max-width: 200px;
	}
	h1{
		font-size: 55px;
		padding-top: 30px;
	}
	header p{
		font-size: 15px;
		padding-top: 35px;
		padding-bottom: 30px;
	}
	nav a{
		font-size: 20px;
		padding-top: 16px;
		padding-bottom: 17px;
	}
	main{
		padding: 70px 30px 0px 30px;
	}
	h2{
		font-size: 25px;
		padding-bottom: 15px;
	}
	#welcome p{
		font-size: 16px;
		line-height: 22.675px;
		padding-bottom: 26px;
	}
	#our-offerings{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto;
		column-gap: 20px;
		padding-top: 35px;
		padding-bottom: 20px;
		grid-row: 1;
		grid-column: span 2;
	}
	#our-offerings p, li{
		font-size: 16px;
		line-height: 22.675px;
	}
	h3{
		font-size: 25px;
		line-height: 40px;
	}
	.artisan-provisions{
		grid-row: 2;
		grid-column: 1;
		margin-top: 15px;
		margin-bottom: 10px;
		padding: 25px 30px 20px 15px;
	}
	.artisan-provisions h3{
		padding-right: 60px;
	}
	.exclusive-dining-experiences{
		grid-row: 2;
		grid-column: 2;
		margin-top: 15px;
		padding: 25px 30px 20px 15px;
	}
	.the-field-and-feast-monthly-basket{
		grid-row: 3;
		grid-column: span 2;
		margin-top: 10px;
		margin-bottom: 25px;
		padding: 25px 15px 20px 15px;
	}
	#our-offerings::after{
		grid-row: 4;
		grid-column: span 2;
	}
	#a-gallery-field-feast{
		padding-top: 5px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto auto auto;
		column-gap: 20px;		
	}
	#a-gallery-field-feast h2{
		grid-column: span 2;
		grid-row: 1;
	}
	#a-gallery-field-feast p{
		font-size: 15px;
		line-height: 20px;
		padding-right: 25px;
		padding-bottom: 22px;
		grid-column: span 2;
		grid-row: 2;
	}
	#a-gallery-field-feast figure{
		margin-bottom: 20px;
	}
	#a-gallery-field-feast figure img{
		max-width: 100%;
		height: auto;
	}
	figure.tomatoes{
		grid-column: 1;
		grid-row: 3;
	}
	figure.olive-oil{
		grid-column: 2;
		grid-row: 3;
	}
	figure.table-setting{
		grid-column: 1;
		grid-row: 4;
	}
	figure.chef-plating{
		grid-column: 2;
		grid-row: 4;
	}
	figure.basket{
		grid-column: 1;
		grid-row: 5;
	}
	.full-gallery{
		grid-column: span 2;
		grid-row: 6;
	}
	#a-gallery-field-feast figcaption{
		padding: 15px 5px 10px;
		font-size: 15px;
		line-height: 20px;
		min-height: 40px;
	}
	#a-gallery-field-feast::after{
		grid-column: span 2;
		grid-row: 7;
		margin-bottom: 25px;
	}
	.full-gallery h3{
		font-size: 15px;
		line-height: 20px;
		padding: 15px 0px;
	}
	footer{
		padding-top: 75px;
		padding-bottom: 30px;
	}	
	#contact-info{
		font-size: 15px;
		line-height: 20px;
	}
	#contact-info{
		padding-bottom: 0px;
	}
	address{
		padding-bottom: 10px;
	}
	#contact-info a{
		padding-top: 10px;
		font-size: 15px;
		line-height: 20px;
	}
	footer a{
		font-size: 15px;
		line-height: 20px;
	}
	.social-media{
		padding-top: 55px;
	}
	.social-media a{
		font-size: 15px;
		line-height: 20px;
	}
}
/* MEDIA QUERY (large) */
@media only screen and (min-width: 900px) {
	body{
		max-width: 1199px;
	}
	h1{
		font-size: 55px;
		padding-top: 20px;
	}
	header p{
		padding-bottom: 25px;
	}
	nav a{
		font-size: 20px;
		line-height: 25px;
	}
	main{
		padding-top: 65px;
	}
	#welcome p{
		padding-bottom: 30px;
	}
	#our-offerings{
		padding-top: 40px
	}
	#a-gallery-field-feast{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto auto auto auto;
	}
	#a-gallery-field-feast figure img{
		max-width: 100%;
		height: auto;
	}
	#a-gallery-field-feast h2{
		grid-column: span 3;
		grid-row: 1;
	}
	#a-gallery-field-feast p{
		grid-column: span 3;
		grid-row: 2;
	}
	figure.tomatoes{
		grid-column: 1;
		grid-row: 3;
	}
	figure.olive-oil{
		grid-column: 2;
		grid-row: 3;
	}
	figure.table-setting{
		grid-column: 3;
		grid-row: 3;
	}
	figure.chef-plating{
		grid-column: 1;
		grid-row: 4;
	}
	figure.basket{
		grid-column: 2;
		grid-row: 4;
	}
	.full-gallery{
		grid-column: span 3;
		grid-row: 5;
	}
	#a-gallery-field-feast::after{
		grid-column: span 3;
		grid-row: 6;
	}
	#a-gallery-field-feast figcaption{
		padding: 15px 15px;
	}
	footer{
		padding-bottom: 25px;
	}
}
/* MEDIA QUERY (xl) */
@media only screen and (min-width: 1200px) {
	body{
		max-width: none;
	}
	header p{
		font-size: 17px;
	}
	main{
		padding-left: 180px;
		padding-right: 180px;
	}
	#a-gallery-field-feast{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
	}
	#a-gallery-field-feast figure img{
		max-width: 100%;
		height: auto;
	}
	#a-gallery-field-feast h2{
		grid-column: span 5;
		grid-row: 1;
	}
	#a-gallery-field-feast p{
		padding-right: 40px;
		grid-column: span 5;
		grid-row: 2;
	}
	figure.tomatoes{
		grid-column: 1;
		grid-row: 3;
	}
	figure.olive-oil{
		grid-column: 2;
		grid-row: 3;
	}
	figure.table-setting{
		grid-column: 3;
		grid-row: 3;
	}
	figure.chef-plating{
		grid-column: 4;
		grid-row: 3;
	}
	figure.basket{
		grid-column: 5;
		grid-row: 3;
	}
	.full-gallery{
		grid-column: span 5;
		grid-row: 4;
	}
	#a-gallery-field-feast::after{
		grid-column: span 5;
		grid-row: 5;
		margin-top: 10px;
	}
}