/* CSS BY SARAH MOORE */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
  --midnight-blue: #1F2A44;
  --olive-green: #76885B;
  --champagne-gold: #E5C185;
  --linen: #F8F4EC;
  --dark-charcoal: #2B2B2B;
  --soft-white: #FAF9F6;

  --font: 'Playfair Display', serif;
}
/* GLOBAL STYLES (mobile first/small) */
@media only screen and (min-width: 300px) {
	body {
		font-family: var(--font);
		font-size: 1rem;
		line-height: .80rem;
		background-color: var(--soft-white);
		color: var(--dark-charcoal);
		display: grid;
		grid-template-rows: auto auto 1fr;
		min-width: 270px;
		min-height: 100vh;
		margin: 0;
	}
	header { 
		background-color: var(--midnight-blue);
		color: var(--linen);
		text-align: center; 
		font-size: 38px;
	}
	hgroup img { 
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		max-width: 117px;
	}
	hgroup p { 
		font-size: 11px;
		padding: 10px 0px 20px 0px;
		font-style: italic;
		color: var(--soft-white)
	}
	nav { 
		background: var(--champagne-gold); 
		padding: 10px 0px;
	}
	nav ul { 
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
	}
	nav a { 
		color: var(--midnight-blue); 
		display: block; 
		text-decoration: none;
		font-size: 14px;
		font-weight: 700; 
	}
	h1 { 
		padding: 10px;
		font-size: 36px;
		font-weight: bold;
	}
	h2 { 
		font-size: 18px;
		padding-bottom: 10px;
	}
	h3 { 
		font-size: 15px; 
		padding-bottom: 10px;
	}
	p {
		font-size: 9px;
		line-height: 1.5;
	}
	#welcome {
		padding: 30px 15px 20px 15px;
	}
	#our-offerings::before {
		content: "";
		display: block;
		height: 2px;
		background-color: var(--champagne-gold);
		margin-bottom: 20px;
	}
	#our-offerings {
		padding: 0px 15px 15px 15px;
	}
	#our-offerings::after {
		content: "";
		display: block;
		height: 2px;
		background-color: var(--champagne-gold);
		margin-top: 20px;
	}
	.artisan-provisions {
		background-color: var(--olive-green);
		color: var(--linen);
		padding: 10px 10px 15px 15px;
		margin: 15px 0px;
		border-radius: 5px;
		filter: drop-shadow(0px 2px 2px #2B2B2B80);	
	}
	.exclusive-dining-experiences {
		background-color: var(--olive-green);
		color: var(--linen);
		padding: 10px 10px 15px 15px;
		margin: 15px 0px;
		border-radius: 5px;
		filter: drop-shadow(0px 2px 2px #2B2B2B80);
	}
	.the-field-and-feast-monthly-basket {
		background-color: var(--olive-green);
		color: var(--linen);
		padding: 10px 10px 15px 15px;
		margin: 15px 0px;
		border-radius: 5px;
		filter: drop-shadow(0px 2px 2px #2B2B2B80);
	}
	.the-field-and-feast-monthly-basket ul li {
		font-size: 9px;
		line-height: 1.5;
		list-style: disc;
		list-style-position: inside;
	}
	.a-gallery-field-feast {
		padding: 0px 25px 20px 15px;	
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.a-gallery-field-feast p {
		padding-bottom: 10px;
	}
	img {
		display: block;
		max-width: 270px;
		align-items: center;
		height: auto;
		border-radius: 5px 5px 0px 0px;
	}
	figcaption {
		font-size: 8px;
		padding: 5px;
		margin-bottom: 10px;
		text-align: center;
		font-style: italic;
		background-color: var(--linen);
		border-radius: 0px 0px 5px 5px;
		filter: drop-shadow(0px 2px 2px #2B2B2B80);
	}
	.button-style {
		background-color: var(--olive-green);
		color: var(--soft-white);
		text-align: center;
		padding: 10px;
		border-radius: 5px;
		font-weight: 700;
	}	
	.a-gallery-field-feast::after {
		content: "";
		display: block;
		height: 2px;
		background-color: var(--champagne-gold);
		margin-top: 20px;
	}
	footer {
			background-color: var(--midnight-blue);
			color: var(--linen);
			text-align: center;
			padding: 50px;		
	}
	footer a {
		color: var(--champagne-gold);
		text-decoration: none;
	}
	.social-media {
		padding-top: 20px;
	}
}

/* MEDIA QUERY MEDIUM */
@media screen and (min-width: 600px) {}
  
/* MEDIA QUERY LARGE */
@media screen and (min-width :900px) {}

/* MEDIA QUERY X-LARGE */
@media screen and (min-width: 1200px) {}
